body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('moon.jpg'); */
}
.maindiv{
    /* height: ; */
    width: 96vw;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
    
    
    
}

p{
    font-size: 1.3em;
    color: #eeeeee;
    font-weight: 700;

    font-family: "Architects Daughter",sans-serif;
    letter-spacing: 1px;
    text-indent: 1.6em;
    word-spacing: 1px;
    padding-right: 2em;
    padding-left: 2em;
}
.me{
    height: 18%;
    width: 27%;
    border-radius:50%;
    margin-top: 2em;
}
.socials{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1em;
    /* background-color: chocolate; */
    height: auto;
    width: inherit;
    justify-content: space-around;
    
}
hr{
    color: white;
    width: inherit;
    height: 1px;
    margin-top: 1em;
}
h3{
    font-style: italic;
    font-family: "Architects Daughter",sans-serif;
    color: white;
    letter-spacing: 1.1px;
}
img{
    height: 2em;
    width: 2em;
    background-color: wheat;
    opacity: 0.4;
    border-radius: 50%;

}
